.card {
  background-color: var(--preview-card-background-color);
  padding: 1.5rem;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: clamp(20.4375rem, 50vw, 24rem);
  box-shadow: 8px 8px 0px;
}
.blog-image {
  border-radius: 10px;
  height: 12.5rem;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: clamp(17.4375rem, 40vw, 21rem);
}
.category {
  font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  font-weight: 800;
  line-height: 150%;
  background-color: var(--body-background-color);
  width: clamp(4.5625rem, 10vw, 5.125rem);
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
}
.publish-date {
  font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  font-weight: 500;
  line-height: 150%;
  width: clamp(7.6875rem, 20vw, 8.9375rem);
}
.title {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  font-weight: 800;
  line-height: 150%;
  cursor: pointer;
}
.title:hover {
  color: var(--body-background-color);
}
.description {
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  line-height: 150%;
  color: var(--preview-card-description-color);
  font-weight: 500;
}
.author {
  display: grid;
  grid-template-columns: 2rem 1fr;
  place-items: center;
  width: 8.0625rem;
  column-gap: 0.75rem;
}
.user-pic {
  width: 2rem;
  height: 2rem;
}
.author-name {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 800;
}
