.card {
  background-color: var(--preview-card-background-color);
  padding: 1.5rem;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 20.4375rem;
  box-shadow: 8px 8px 0px;
}
@media (min-width: 768px) {
  .card {
    width: 24rem;
  }
}
.blog-image {
  border-radius: 10px;
  height: 12.5rem;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 17.4375rem;
}
@media (min-width: 768px) {
  .content {
    width: 21rem;
  }
}
.category {
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 150%;
  background-color: var(--body-background-color);
  width: 4.5625rem;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .category {
    width: 5.125rem;
    font-size: 0.875rem;
  }
}
.publish-date {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 150%;
  width: 7.6875rem;
}
@media (min-width: 768px) {
  .publish-date {
    width: 8.9375rem;
    font-size: 0.875rem;
  }
}
.title {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 150%;
  cursor: pointer;
}
.title:hover {
  color: var(--body-background-color);
}
@media (min-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}
.description {
  font-size: 0.875rem;
  line-height: 150%;
  color: #6b6b6b;
  font-weight: 500;
}
@media (min-width: 768px) {
  .description {
    font-size: 1rem;
  }
}
.author {
  display: grid;
  grid-template-columns: 32px 1fr;
  place-items: center;
  width: 8.0625rem;
  column-gap: 0.75rem;
}
.user-pic {
  width: 32px;
  height: 32px;
}
.author-name {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 800;
}
