:root {
  --body-background-color: #f4d04e;
  --preview-card-background-color: white;
  --preview-card-description-color: #6b6b6b;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--body-background-color);
  font-family:
    Figtree,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
