:root {
  --body-background-color: #f4d04e;
  --preview-card-background-color: white;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--body-background-color);
  font-family: Figtree;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
